@import url('https://fonts.googleapis.com/css?family=Lobster|Open+Sans&display=swap');


body {
    background-image: url("https://i.ibb.co/3kcr2Cr/sos-Mesa-de-trabajo-1.png");
    background-size: 78%;
    background-position:cover;
    background-color: #F4DDD7;
    background-repeat: no-repeat;
    background-position-y: 75px;
    background-position-x: 136px;
}

.titulo{
    grid-area:header;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 50px;
    margin-top:px;
    margin-left:420px;
    margin-right:420px;
}

.titulo img{
    width:50px;
    height:50px;
}

.presentacion {
    grid-area:menu;
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    margin-right:70px;
    margin-left:70px;
    margin-top:135px;
}

.textocentral {
    grid-area:main;
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    margin-left: 0px;
    margin-right: 35px;
    line-height: 1.5;
    margin-top: -15px;
}

.grid-container {
    display: grid;
    grid-template-areas:
      'header header header header header header'
      'menu main main main right right'
      'menu footer footer footer footer footer';
    grid-gap: 10px;
    padding: 10px;
}

  .grid-container > div {
    text-align: auto;
    padding: 10px 0px;
    font-size: auto;
  }